/*
!/.gitignore
!/.travis.yml
!/appveyor.yml
!/README.md
!/CONTRIBUTING.md
!/LICENSE
!/medocs.svg
!/medocs.pro
!/medocs.nsi
!/git2dch
!/settings.gradle
!/build.gradle
!/gradlew
!/gradlew.bat
!/gradle
/gradle/*
!/gradle/wrapper
/gradle/wrapper/*
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
!/debian
/debian/*
!/debian/changelog
!/debian/compat
!/debian/control
!/debian/copyright
!/debian/rules
!/debian/source
/debian/source/*
!/debian/source/format
!/base
/base/*
!/base/dpm.db
!/qt
/qt/*
!/qt/icon.icns
!/qt/aboutdialog.cpp
!/qt/aboutdialog.h
!/qt/aboutdialog.ui
!/qt/main.cpp
!/qt/mainwindow.cpp
!/qt/mainwindow.h
!/qt/mainwindow.ui
!/qt/qt.pro
!/qt/medocs.qrc
!/qt/windows
/qt/windows/*
!/qt/windows/medocs16x16.ico
!/qt/windows/medocs32x32.ico
!/qt/windows/medocs48x48.ico
!/qt/windows/medocs256x256.png
!/qt/windows/windows.rc
!/qt/linux
/qt/linux/*
!/qt/linux/medocs.desktop
!/qt/linux/medocs.png
!/android
/android/*
!/android/build.gradle
!/android/gradle.properties
!/android/src
/android/src/*
!/android/src/main
/android/src/main/*
!/android/src/main/AndroidManifest.xml
!/android/src/main/kotlin
/android/src/main/kotlin/*
!/android/src/main/kotlin/tn
/android/src/main/kotlin/tn/*
!/android/src/main/kotlin/tn/DrX
/android/src/main/kotlin/tn/DrX/*
!/android/src/main/kotlin/tn/DrX/medocs
/android/src/main/kotlin/tn/DrX/medocs/*
!/android/src/main/kotlin/tn/DrX/medocs/MedocsActivity.kt
!/android/src/main/kotlin/tn/DrX/medocs/DetailFragment.kt
!/android/src/main/kotlin/tn/DrX/medocs/ListFragment.kt
!/android/src/main/res
/android/src/main/res/*
!/android/src/main/res/drawable-ldpi
/android/src/main/res/drawable-ldpi/*
!/android/src/main/res/drawable-ldpi/ic_launcher.png
!/android/src/main/res/drawable-mdpi
/android/src/main/res/drawable-mdpi/*
!/android/src/main/res/drawable-mdpi/ic_launcher.png
!/android/src/main/res/drawable-tvdpi
/android/src/main/res/drawable-tvdpi/*
!/android/src/main/res/drawable-tvdpi/ic_launcher.png
!/android/src/main/res/drawable-hdpi
/android/src/main/res/drawable-hdpi/*
!/android/src/main/res/drawable-hdpi/ic_launcher.png
!/android/src/main/res/drawable-xhdpi
/android/src/main/res/drawable-xhdpi/*
!/android/src/main/res/drawable-xhdpi/ic_launcher.png
!/android/src/main/res/drawable-xxhdpi
/android/src/main/res/drawable-xhdpi/*
!/android/src/main/res/drawable-xxhdpi/ic_launcher.png
!/android/src/main/res/drawable-xxxhdpi
/android/src/main/res/drawable-xxxhdpi/*
!/android/src/main/res/drawable-xxxhdpi/ic_launcher.png
!/android/src/main/res/layout
/android/src/main/res/layout/*
!/android/src/main/res/layout/medocs.xml
!/android/src/main/res/layout/detail_fragment.xml
!/android/src/main/res/layout/list_fragment.xml
!/android/src/main/res/layout-large
/android/src/main/res/layout-large/*
!/android/src/main/res/layout-large/medocs.xml
!/android/src/main/res/values
/android/src/main/res/values/*
!/android/src/main/res/values/strings.xml
!/android/src/main/res/values/colors.xml
