/*
!/.gitignore
!/.travis.yml
!/.appveyor.yml
!/README.md
!/CONTRIBUTING.md
!/LICENSE
!/medocs.pro
!/medocs.nsi
!/base
/base/*
!/base/dpm.db
!/qt
/qt/*
!/qt/
!/qt/aboutdialog.cpp
!/qt/aboutdialog.h
!/qt/aboutdialog.ui
!/qt/main.cpp
!/qt/mainwindow.cpp
!/qt/mainwindow.h
!/qt/mainwindow.ui
!/qt/qt.pro
!/qt/medocs.qrc
!/qt/windows
/qt/windows/*
!/qt/windows/medocs16x16.ico
!/qt/windows/medocs32x32.ico
!/qt/windows/medocs48x48.ico
!/qt/windows/medocs256x256.png
!/qt/windows/windows.rc
!/qt/linux
/qt/linux/*
!/qt/linux/medocs.desktop
!/qt/linux/medocs.png
!/qt/mac
/qt/mac/*
!/qt/mac/medocs.icns
!/android
